.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  max-width: 640px;
  margin: 0 auto;
}
.content {
  width: 100%;
}

.content h3 {
  font-size: xx-large;
  font-weight: 600;
  text-transform: uppercase;
  margin: 3rem 0;
}

.address {
  width: 100%;
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

.text {
  margin-bottom: 3rem;
}
