.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid teal;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  max-width: 350px;
}

.content {
  margin: 1rem 0;
}
.content > h3 {
  font-weight: 500;
  font-size: x-large;
  margin-bottom: 1rem;
}

.image img {
  border-radius: 8px;
  filter: grayscale(100%) blur(1px);
  transition: all 0.3s ease;
}
.image img:hover {
  cursor: pointer;
}

.card:hover .image img {
  filter: grayscale(0%) blur(0px);
  transition: all 0.3s ease;
}
.actions {
  border-radius: 8px;
  margin-top: 1rem;
  padding: 0.5rem;
  background: linear-gradient(to right, lightgray, transparent, lightgray);
  background-size: 200% 100%;
  background-position: 50%;
  transition: all 0.3s ease;
}
.actions:hover {
  background-position: right;
  cursor: pointer;
  transition: all 0.3s ease;
}
