@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
 }
section{
  height: 100%;
}
section .wrapper{
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  border: #ffffff 1px solid;
}
